# cmake and config directories
build
.vscode

*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.xml
*.nav
*.snm
*.toc

#clangd cache
.cache

# ipython directories
.ipynb_checkpoints
__pycache__

# generated directories
gfx
data
